<!DOCTYPE html>
<html>
<head>
    <title>Workflow Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Workflow Manager</h1>
    <form id="postForm" method="POST">
        <label for="link">Link da mídia:</label>
        <input type="text" id="link" name="link" required><br><br>

        <!-- Adicione campos para as outras informações aqui -->
        <label for="data_hora">Data e Hora (YYYY-MM-DD HH:MM):</label>
        <input type="text" id="data_hora" name="data_hora" required><br><br>

        <input type="submit" value="Agendar Postagem">
    </form>

    <a href="{{ url_for('agenda_page') }}">Ver Agenda</a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
